/////site-header/////
.site-header {
        width:44%;
        margin-left:14%;
        position:fixed;
        top:0px;
        z-index:20;
        background-color:rgba(255,255,255,0);
        transition:border-bottom, top;
        transition-duration: 300ms;
        transition-timing-function: ease;
        border-bottom:0px solid $black-color;
        @include media-query($small-desktop) {
           width:100%;
           margin-left:0;
           padding-left:14%;
        }
        @include media-query($on-palm) {
           width:100%;
           margin-left:0;
           padding-left:0;
        }
}

.site-header-hero {
        width:44%;
        margin-left:14%;
        top:0px;
        z-index:20;
        position:absolute;
        background-color:rgba(255,255,255,0);
        transition:border-bottom, top;
        transition-duration: 300ms;
        transition-timing-function: ease;
        border-bottom:0px solid $black-color;
        @include media-query($small-desktop) {
           width:100%;
           margin-left:0;
           padding-left:14%;
           position:fixed;
        }
        @include media-query($on-palm) {
           width:100%;
           margin-left:0;
           padding-left:0;
        }
}

.site-header-mini{
    transition:border-bottom,  top;
    width:44%;
    margin-left:14%;
    transition-duration: 300ms;
    transition-timing-function: ease;
    position:fixed;
    top:-64px;
    border-bottom: 4px solid $black-color;
    background-color:rgba(255,255,255,1);
    &:hover{
        top:0;
    }
    @include media-query($small-desktop) {
           width:100%;
           margin-left:0;
           padding-left:14%;
        }
    @include media-query($on-palm) {
            transition-duration: 300ms;
            transition-timing-function: ease;
            border-bottom: 4px solid $black-color;
            margin-left:0;
            width:100%;
             top:-225px;
             padding-left:0;
        }
}

.site-title {
   font-family: $font-heading;
   font-size: $font-body-size;
   font-weight:700;
   color:$black-color;
   text-decoration: none;
    &:visited {
        //
    }
    &:hover {
        //
    }
    @include media-query($narrow) {
            //
        }
         @include media-query($on-palm) {
            padding-left:10%;
        }
}

.site-title a{
    //
}

/////navigation/////
.site-nav {
   margin-top:38px;
    @include media-query($narrow) {
            //
        }
    .page-link {
        font-family:$font-heading;
        font-size: 12px;
        margin-left:20px;
        @include media-query($on-palm) {
           width:100%;
           float:left;
           margin-left:0;
           padding-left:10%;
           border-bottom:1px solid $black-color;
        }
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            //
        }
        &:last-child{
            //
             @include media-query($narrow) {
                //
            }
        }
        @include media-query($on-laptop) {
            &:not(:first-child) {
                //
        }
    }
 }
    @include media-query($on-palm) {
        //
    }
}

/////footer/////
.site-footer {
    width:100%;
    margin-top:25px;
    position:relative;
    float:right;
    color:#ffffff;
    overflow:hidden;
    max-height:20px;
    margin-top: 216px;
      
      @include media-query($on-laptop) {
       width:30%;
        float:left;
    }

     @include media-query($on-palm) {
       width:30%;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 20px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
    font-family:"Surveyor SSm A", "Surveyor SSm B";
    font-weight:800;
    font-style:italic;
    margin-top:6px;
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} ));
    width:         40%;
    font-family:"Operator SSm A", "Operator SSm B";
    font-weight:500;
    font-size:10px;
    margin-top:0;
    padding:0;
    list-style: none;
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

////page-content/////
.page-title{
    font-family: $font-body;
    font-size: $font-body-size;
    font-weight: 200;
    margin-bottom: 40px;
    width: 100%;
    @include media-query($narrow) {
       //
    }
    @include media-query($on-palm) {
       margin-top:150px;
       width:100%;
    }
}

.page-description{
    width:100%;
    float:left;
    margin-bottom:40px;
    @include media-query($narrow) {
        //
    }

     @include media-query($on-palm) {
        //
    }
}

.hero-description{
    @include media-query($narrow) {
        //
    }

     @include media-query($on-palm) {
        //
    }
}

.excerpt{
    //
}

.post-title-list a{
    font-size: $heading-size;
    line-height:$body-line-height;
    float:left;
    width:100%;
    &:hover{
        border-bottom: 3px solid $black-color;
        border-radius: 4px;
    }
    @include media-query($on-laptop) {
        //
    }
}

.continue-link{
    font-family:$font-link;
    font-size:$small-font-size;
    line-height:$small-line-height;
    float:left;
    width:100%;
}

.page-content {
    margin-top:140px;
}

.page-heading {
    font-size: 20px;
    border-bottom: 1px solid #334;
    padding:5px;
    color:#334;
}

.post-list{
    margin-left: 0;
    list-style: none;
    width: 50%;
    margin-top: 0;
    float:left;
    @include media-query($slim) {
    width:100%;
    float:left;
    }
    @include media-query($on-palm) {
       width:100%;
       float:left;
    }
    > li {
        margin-bottom: $spacing-unit + 20;
    }
}

.post-module{
    margin-bottom:40px;
    //float:left;
}

.post-abstract {
    font-size: $small-font-size;
    line-height: $small-line-height;
    background-color: #000;
    color: #fff;
    margin-bottom:0;
    @include media-query($on-laptop) {
     //
    }
}

.post-link {
    font-family: "Knockout 30 A", "Knockout 30 B";
    font-weight: 400;
    margin:0;
    font-size:36px;
    line-height:1.3;
    float:left;
    width:34.4%;
}

.post-title-link {
    font-size:$font-body-size;
    margin-bottom:0;
}

.post-categories{
    margin-bottom:6px;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight:200;
    font-size:18px;
    text-transform: capitalize;
}

.post-list h2 {
    margin-bottom:0px;
    line-height:.5;
}
;
.page-link{
    font-size: 14px;
    text-decoration: none;
}

/////posts/////
.post{
    margin-top:200px;
        @include media-query($on-palm){
        margin-top:250px;
    }
}

.post .post-meta{
    width:80%;
    float:right;
    font-family: $font-heading;
    font-size: $small-font-size;
    font-weight:500;
    line-height:27px;
@include media-query($small-desktop) {
        width:80%;
    }
    @include media-query($on-laptop) {
        width:100%;
        float:left;
    }
    @include media-query($on-palm) {
        width:100%;
        float:left;
    }
}

.post-header {
    //
}

.post-title {
     font-family: $font-heading;
     font-size: $heading-size;
     color: #0099cc;
    @include media-query($on-laptop) {
        //
    }
}

.post-content {
    margin-bottom: 0px;
    margin-top:40px;
    width:100%;
    float:left;
    @include media-query($on-laptop) {
        //
    }
    @include media-query($on-palm) {
       //
    }
    h2 {
       font-family:$font-heading;
       font-size:$font-body-size;
       font-weight:700;
       float:left;
       width:100%;
        @include media-query($on-laptop) {
            //
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-content p{
    width:80%;
    float:right;
@include media-query($small-desktop) {
        width:80%;
    }
    @include media-query($on-laptop) {
        width:100%;
        float:left;
    }
    @include media-query($on-palm) {
        width:100%;
        float:left;
    }
}

.post-content blockquote {
    width:100%;
    float:left;
    margin-bottom:23px;
    @include media-query($on-laptop) {
        //
    }
    @include media-query($on-palm) {
       //
    }
}

.post-content blockquote p {
    float:left;
    margin-right:0;
    font-size:$small-font-size;
    width:100%;
    padding:0;
    font-weight: 400;
    font-family:$font-heading;
    line-height:$small-line-height;
    margin-bottom:0;
    @include media-query($on-palm) {
        width:100%;
        float:left;
        margin-left:0;
        margin-bottom:10px;
    }
}

.post-content blockquote a:first-child{
    float:left;
    margin-right:0;
    font-size:10px;
    width:100%;
    padding:0;
    font-weight: 300;
    line-height:12px;
    margin-bottom:0;
    border-bottom:1px solid $black-color;
}

.post-list p{
width:100%;
}

.post-list blockquote {
    display:none;
}

.post-list li {
//
}


/////hero section/////
.post-title-hero{
font-family:$font-body;
font-size:66px;
font-weight:300;
line-height:78px;
margin-bottom:12px;
width:100%;
}

.post-title-hero a {
    color:#333;
}

.continue-link-hero{
    font-family: $font-link;
    font-size:$font-body-size;
    width:100%;
    text-decoration:underline;
}

.quote{
    font-family:$font-heading;
    font-weight:800;
}

.language-select{
    width:100%;
    float:left;
    margin-bottom:8px;
    font-size: $small-font-size;
}

.language-select a {
    margin-left: 10px;
}

//post-list

.post-list-container {
  border-bottom: solid 1px #000;
  width: 100%;
  float: left;
  padding-bottom: 0;
  margin-top: 20px;
  margin-bottom: 8px;
}

.post-list-title {
     font-family: $font-heading;
     font-size: 12px;
     color: #0099cc;
     float: left;
     margin-bottom: 0;
    @include media-query($on-laptop) {
        //
    }
}

.post-list-category {
 font-size: 9px;
 margin-left: 20px;
 float: left;
 margin-bottom: 0;
}

.post-list-date {
 font-size: 12px; 
 float: left;
 margin-left: 20px;
 margin-bottom: 0;
}
